{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product edit</h1>
    <div class="edit-form">
        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}

        <div>
            {% for specialPrice in specialPrices %}
                <div style="width: 100%">
                    <label>{{ specialPrice.action.name }}</label>
                    <input type="hidden" value="{{ specialPrice.action.id }}" name="appbundle_product[specialPrices][{{ specialPrice.action.id }}][action]" />
                    <input type="text" class="input_number" step="0.01" value="{{ specialPrice.price }}" name="appbundle_product[specialPrices][{{ specialPrice.action.id }}][price]" />
                </div>
            {% endfor %}

        </div>

        <input type="submit" value="Edit" />
        {{ form_end(edit_form) }}
    </div>


    <ul>
        <li>
            <a href="{{ path('product_index') }}" class="btn">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
