{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    {% if products|length == 0 %}
        <p align="center"> Нет данных  для отображения</p>
    {% else %}
        <table class="index-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Base price</th>
                    <th>Special Prices</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.basePrice }}</td>
                    <td>
                        <ul>
                            {% for special_price in product.specialPrices %}
                                <li>
                                    <a href="{{ path('action_show', { 'id': special_price.action.id }) }}"> {{ special_price.action.name }}</a> : {{ special_price.price }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ product.createdAt | date('Y-m-d H:i:s') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% endif %}
    <ul>
        <li>
            <a href="{{ path('product_new') }}" class="btn">Create a new product</a>
        </li>
        <li>
            <a href="{{ app.request.getBaseURL() }}" class="btn">Back to main page</a>
        </li>
    </ul>

{% endblock %}
