{% extends 'base.html.twig' %}

{% block body %}

    <h1>Product creation</h1>

    <div class="edit-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <div>
            {% for action in actions %}
                <div style="width: 100%">
                    <label>{{ action.name }}</label>
                    <input type="hidden" value="{{ action.id }}" name="appbundle_product[specialPrices][{{ action.id }}][action]">
                    <input type="number" step="0.01" value="" name="appbundle_product[specialPrices][{{ action.id }}][price]">
                </div>
            {% endfor %}

        </div>
        <input type="submit" value="Create" />
        {{ form_end(form) }}

    </div>


    <ul>
        <li>
            <a href="{{ path('product_index') }}" class="btn">Back to the list</a>
        </li>
    </ul>
{% endblock %}
